@import 'partials/settings';
@import 'partials/typography';
@import 'partials/global';
@import 'partials/elements';

@import 'partials/homepage';

@import 'partials/header';
@import 'partials/cart';

@import 'partials/product';
@import 'partials/booking';
